<!-- include the static tag to load the styles from the static css location! -->
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <title>The World Explored - Travel Wishlist</title>
    </head>

    <a href="{% url 'place_list' %}"> <h1 id="site-header">Where did you come from? <br>
        Where did you go?</h1></a>

    <body>
        <!-- Setup the area for the other html pages to load in -->
        {% block content %}
        {% endblock %}



    </body>

    <div>
        <p>A simple Travel Wishlist developed in Django</p>

        <a class="nav-link" href="{% url 'place_list' %}">Home</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Visited Places</a>
        <a class="nav-link" href="{% url 'about' %}">About</a>
        <p id="attribution">
        Photo by <a href="https://unsplash.com/@chrislawton?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Chris Lawton</a> on <a href="https://unsplash.com/photos/compass-with-map-on-table-KpBXAOs80YI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </p>
    </div>


</html>