<!-- this is the connection to the details from base html file 
Embeds the current page within base-->
{% extends 'travel_wishlist/base.html' %}

<!-- load in static files -->
{% load static %}

{% block content %}

<h3>{{ place.name }}</h3>

{% if place.visited %}
    <p>
        You have visited {{ place.name }}
    </p>
{% else %}
    <p>
        You have not visited {{ place.name }}
    </p>

    <form method="POST" action="{% url 'place_visited' place.pk %}">
        {% csrf_token %}
        <button type="submit" class ="visited" id="visited-button-{{ place.pk }}">Visited</button>
    </form>

{% endif %}


<form method="POST" action="{% url 'delete_place' place.pk %}">
    {% csrf_token %}
    <button type="submit" class ="delete" id="delete-button-{{ place.pk }}">Delete Place</button>
</form>

<script src="{% static 'js/confirm_delete.js' %}"></script>

{% endblock %}